---
import Layout from "../../layouts/main.astro";
import { getCollection, type CollectionEntry, render } from "astro:content";

export async function getStaticPaths() {
  const collections = ["components", "blocks", "starters"] as const;
  const paths = [];

  for (const collectionName of collections) {
    const items = await getCollection(collectionName);
    paths.push(
      ...items.map((item) => ({
        params: {
          collection: collectionName,
          slug: item.slug,
        },
        props: {
          item,
          collectionName,
        },
      }))
    );
  }

  return paths;
}

type Props = {
  collectionName: "components" | "blocks" | "starters";
  item: CollectionEntry<"components" | "blocks" | "starters">;
};

const { item, collectionName } = Astro.props as Props;
const { Content } = await render(item);
---

<!-- <html>
  <head>
    <title>{item.data.title || `${collectionName} - ${item.slug}`}</title>
    <meta name="description" content={item.data.description} />
  </head>
  <body>
    <article> -->
<Layout title={item.data.title || item.slug}>
  <Content />
</Layout>

<!-- </body>
</html> -->
