---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="container mx-auto max-w-4xl">
      <h1 class="text-2xl font-bold">{title} y más</h1>
      <article class="prose">
        <slot />
      </article>
    </div>
  </body>
</html>
